
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
}

.map-container {
  position: absolute;
  top: 3vh;
  left: 0;
  right: 0;
  bottom: 30vh;
  margin: 0 30px;

}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.bottom {
  margin-top: 70vh;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-right: 5vw;
  left: 0;
  right: 0;
  align-content: center;
}

.bottom-content {
  width: 50%
}


